# Pre-Processing of Data -  Group with Randomization

Completely done in Python. There ore no steps required in Excel

v1_23.03.2024

Cleaning and Coding

In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_excel('results-survey199433_formatted.xlsx')

In [3]:
# Look at the data
df.head()

,id,submitdate,lastpage,startlanguage,seed,startdate,datestamp,VPNCode,Gender,AGE,...,MANI1Time,groupTime535,E2Time,groupTime536,JC2Time,SE2Time,SDT2Time,PROD2Time,TASKDIF2Time,MANI2Time
0,18,2024-03-06 11:17:14,6,de,468020420,2024-03-06 10:58:20,2024-03-06 11:17:14,AHO1006,Männlich,26,...,NaN,3.75,NaN,133.28,NaN,NaN,NaN,NaN,NaN,NaN
1,19,2024-03-06 12:53:52,6,de,63043224,2024-03-06 12:13:14,2024-03-06 12:53:52,AWA2505,Weiblich,21,...,NaN,913.02,NaN,149.12,NaN,NaN,NaN,NaN,NaN,NaN
2,20,2024-03-07 10:39:51,6,de,1018593392,2024-03-07 10:07:31,2024-03-07 10:39:51,EZA0703,Männlich,22,...,NaN,669.74,NaN,151.61,NaN,NaN,NaN,NaN,NaN,NaN
3,21,2024-03-07 12:02:52,6,de,45327585,2024-03-07 11:19:01,2024-03-07 12:02:52,AGU2207,Männlich,23,...,NaN,5.01,NaN,831.72,NaN,NaN,NaN,NaN,NaN,NaN
4,22,2024-03-07 14:17:40,6,de,1480525241,2024-03-07 13:34:55,2024-03-07 14:17:40,NPR1810,Weiblich,22,...,NaN,709.19,NaN,150.17,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Making "VPNCode" the first column
cols = ['VPNCode'] + [col for col in df if col != 'VPNCode']
df = df[cols]
df.head()

,VPNCode,id,submitdate,lastpage,startlanguage,seed,startdate,datestamp,Gender,AGE,...,MANI1Time,groupTime535,E2Time,groupTime536,JC2Time,SE2Time,SDT2Time,PROD2Time,TASKDIF2Time,MANI2Time
0,AHO1006,18,2024-03-06 11:17:14,6,de,468020420,2024-03-06 10:58:20,2024-03-06 11:17:14,Männlich,26,...,NaN,3.75,NaN,133.28,NaN,NaN,NaN,NaN,NaN,NaN
1,AWA2505,19,2024-03-06 12:53:52,6,de,63043224,2024-03-06 12:13:14,2024-03-06 12:53:52,Weiblich,21,...,NaN,913.02,NaN,149.12,NaN,NaN,NaN,NaN,NaN,NaN
2,EZA0703,20,2024-03-07 10:39:51,6,de,1018593392,2024-03-07 10:07:31,2024-03-07 10:39:51,Männlich,22,...,NaN,669.74,NaN,151.61,NaN,NaN,NaN,NaN,NaN,NaN
3,AGU2207,21,2024-03-07 12:02:52,6,de,45327585,2024-03-07 11:19:01,2024-03-07 12:02:52,Männlich,23,...,NaN,5.01,NaN,831.72,NaN,NaN,NaN,NaN,NaN,NaN
4,NPR1810,22,2024-03-07 14:17:40,6,de,1480525241,2024-03-07 13:34:55,2024-03-07 14:17:40,Weiblich,22,...,NaN,709.19,NaN,150.17,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop unuseful columns
columns_to_drop = ['id', 'submitdate', 'lastpage', 'startlanguage', 'seed', 'LinktoTool', 'E2', 
                   'VPNCodeTime', 'GenderTime', 'AGETime', 'EduTime', 'WORKTime', 'AILiteracyTime', 
                   'PGATTime', 'NGATTime', 'CMVTime', 'NEOTime', 'ERKTime', 'LinktoToolTime', 
                   'TESTTime', 'JC1Time', 'SE1Time', 'SDT1Time', 'PROD1Time', 'TASKDIF1Time', 
                   'MANI1Time', 'E2Time', 'JC2Time', 'SE2Time', 'SDT2Time', 'PROD2Time', 
                   'TASKDIF2Time', 'MANI2Time']
df.drop(columns=columns_to_drop, inplace=True)

In [6]:
# Convert Likert scale responses to numerical codes
likert_mapping = {
    "Trifft gar nicht zu": 1,
    "Trifft eher nicht zu": 2,
    "Teils, teils": 3,
    "Trifft teilweise zu": 4,
    "Trifft voll zu": 5,
    "Gar nicht zufriedenstellend": 1,
    "Eher nicht zufriedenstellend": 2,
    "Eher zufriedenstellend": 4,
    "Voll zufriedenstellend": 5,
    "Extrem schwierig": 1,
    "Eher schwierig": 2,
    "Eher leicht": 4,
    "Extrem leicht": 5
}

In [7]:
# Apply mapping to all columns where conversion is needed.
for column in df.select_dtypes(include='object').columns:  #Only object-type columns need conversion
    if df[column].isin(likert_mapping.keys()).any():
        df[column] = df[column].map(likert_mapping)

In [8]:
# Create a column for total time in minutes
df['datestamp'] = pd.to_datetime(df['datestamp'])
df['startdate'] = pd.to_datetime(df['startdate'])
df['total_time'] = (df['datestamp'] - df['startdate']).dt.total_seconds() / 60

In [9]:
# Drop the columns afterwards
df.drop(columns=['datestamp', 'startdate'], inplace=True)

In [10]:
# Dividing time-related columns by 60
time_columns = ['interviewtime', 'groupTime531', 'groupTime532', 'groupTime534', 'groupTime533', 'groupTime535', 'groupTime536']
df[time_columns] = df[time_columns].div(60)

In [11]:
# Replace spaces in 'Gender' with underscores
df['Gender'] = df['Gender'].str.replace(' ', '_')

# One-hot encode 'Gender' column -> Dummy for each Gender
gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')
df = pd.concat([df, gender_dummies], axis=1)

# Drop the original 'Gender' column as it is no longer needed
df.drop('Gender', axis=1, inplace=True)

In [12]:
# Replace spaces in 'Edu' with underscores for convenience
df['Edu'] = df['Edu'].str.replace(' ', '_')

# One-hot encode 'Edu' column -> Dummy for each Education
edu_dummies = pd.get_dummies(df['Edu'], prefix='Edu')
df = pd.concat([df, edu_dummies], axis=1)

# Drop the original 'Edu' column as it is no longer needed
df.drop('Edu', axis=1, inplace=True)

In [13]:
# Convert WORK column values to numeric and remove percentage signs
df['WORK'] = df['WORK'].replace('%', '', regex=True).astype(float)

In [14]:
# After Discussion with Eva: Not really a Test. But it has no influence so I can just keep it like this

# Check if ERK and TEST columns have "Ja" for all rows 
# If all pass the two columns are dropped otherwise the VPNCodes are stated
if (df['ERK'] == "Ja").all() and (df['TEST'] == "Ja").all():
    print("Participants passed all tests")
    df.drop(columns=['ERK', 'TEST'], inplace=True)
else:
    failed_tests = df[(df['ERK'] != "Ja") | (df['TEST'] != "Ja")]['VPNCode']
    print(f"Not all participants passed the tests. Affected VPNCode rows: {failed_tests.tolist()}")

Participants passed all tests

In [15]:
# Check if all numbers in the WORK column are > 0
if (df['WORK'] <= 0).any():
    affected_vpn = df[df['WORK'] <= 0]['VPNCode']
    print(f"WORK column contains values <= 0. Affected VPNCode rows: {affected_vpn.tolist()}")
else:
    print("All WORK column numbers are > 0.")

WORK column contains values <= 0. Affected VPNCode rows: ['AGU2207']

In [16]:
# After Discussion with Eva: For my MA I don't want to loose any data. So instead of dropping the row, I will replace this value with the mean of all WORK percentages.

# Calculate the mean value of the 'WORK' column and round it to the nearest multiple of 10
work_mean = df['WORK'].mean()
rounded_mean = round(work_mean / 10) * 10
# Replace the current value in the row where VPNCode is 'AGU2207' in the 'WORK' column with the rounded mean value
df.loc[df['VPNCode'] == 'AGU2207', 'WORK'] = rounded_mean

In [17]:
# Check if JC2[AC] column has 4 as an answer for all rows
# If this is the case the column is dropped otherwise the VPNCodes are stated
if (df['JC2[AC]'] == 4).all():
    print("Participants passed all AC tests")
    df.drop(columns=['JC2[AC]'], inplace=True)
else:
    failed_ac_test = df[df['JC2[AC]'] != 4]['VPNCode']
    print(f"Not all participants passed the AC test. Affected VPNCode rows: {failed_ac_test.tolist()}")

Not all participants passed the AC test. Affected VPNCode rows: ['EBO1608', 'SME3112']

In [18]:
# After Discussion with Eva: For my MA I don't want to loose any data. So instead of dropping the row, I looked at the MANI check and the values of the rest of the survey items. 
# Everything else seems reasonable so I won't drop the rows
    
# Drop the column 'JC2[AC]' as it is no longer needed
df.drop(columns=['JC2[AC]'], inplace=True)

In [19]:
# Identifying rows with missing values and the specific columns affected (Problem: For JC1 it is possible to select "Keine Antwort". This is not possible for JC2)
# If no VPNCodes are listed, everything is fine otherwise data is missing
missing_info = df[df.isnull().any(axis=1)]
for index, row in missing_info.iterrows():
    missing_columns = row[row.isnull()].index.tolist()
    print(f"VPNCode: {row['VPNCode']}, Missing in columns: {missing_columns}")

VPNCode: OBA0612, Missing in columns: ['JC1[IStR2]', 'JC1[HRJD1]', 'JC1[HRJD2]', 'JC1[HRJD3]', 'JC1[ICJD1]']

In [20]:
# After Discussion with Eva: For my MA I don't want to loose any data. So instead of dropping the row, I filled it in with the mean values for the corresponding construct
# JC1[IStR2] will be filled with 4.25 / JC1[HRJD1], JC1[HRJD2], and JC1[HRJD3] will be filled with 4 / JC1[ICJD1] can be left like this as it will be dropped anyways

# Fill JC1[IStR2] column with 4.25 
df.loc[df['VPNCode'] == 'OBA0612', 'JC1[IStR2]'] = 4.25

# Fill JC1[HRJD1], JC1[HRJD2], and JC1[HRJD3] with 4
df.loc[df['VPNCode'] == 'OBA0612', ['JC1[HRJD1]', 'JC1[HRJD2]', 'JC1[HRJD3]']] = 4

   VPNCode  AGE  WORK  AILiteracy[Use1]  AILiteracy[Use2]  AILiteracy[Use3]  \
8  OBA0612   28  70.0                 5                 5                 5

   AILiteracy[Use4]  AILiteracy[Use5]  AILiteracy[Use6]  AILiteracy[Kno1]  \
8                 5                 5                 5                 4

   ...  groupTime534  groupTime533  groupTime535  groupTime536  total_time  \
8  ...     12.379833      2.555167     11.803667        2.0995       31.65

   Gender_Männlich  Gender_Weiblich  Edu_Abitur_oder_Fachabitur  Edu_Bachelor  \
8                0                1                           0             0

   Edu_Master
8           1

[1 rows x 93 columns]

In [22]:
# Display the dataset
df.head()

,VPNCode,AGE,WORK,AILiteracy[Use1],AILiteracy[Use2],AILiteracy[Use3],AILiteracy[Use4],AILiteracy[Use5],AILiteracy[Use6],AILiteracy[Kno1],...,groupTime534,groupTime533,groupTime535,groupTime536,total_time,Gender_Männlich,Gender_Weiblich,Edu_Abitur_oder_Fachabitur,Edu_Bachelor,Edu_Master
0,AHO1006,26,40.000000,4,5,4,5,5,5,5,...,0.156833,2.161667,0.062500,2.221333,18.900000,1,0,0,1,0
1,AWA2505,21,20.000000,4,4,3,4,4,4,2,...,15.112833,3.292000,15.217000,2.485333,40.633333,0,1,1,0,0
2,EZA0703,22,10.000000,4,5,5,5,3,3,4,...,11.240000,3.083000,11.162333,2.526833,32.333333,1,0,1,0,0
3,AGU2207,23,38.529412,5,4,4,4,4,4,4,...,22.230167,3.959667,0.083500,13.862000,43.850000,1,0,0,1,0
4,NPR1810,22,10.000000,4,4,3,4,3,3,4,...,19.828500,4.353000,11.819833,2.502833,42.750000,0,1,0,1,0

In [23]:
# Save DF in a new CSV-File 
df.to_csv('data_prep_cleaned.csv', index=False, encoding='utf-8-sig', sep=',')

Building Constructs

In [24]:
# Load dataset
# df = pd.read_csv('data_prep_cleaned.csv')

In [25]:
# AI Literacy Constructs
df['AILiteracy[Use]'] = df[['AILiteracy[Use1]', 'AILiteracy[Use2]', 'AILiteracy[Use3]', 'AILiteracy[Use4]', 'AILiteracy[Use5]', 'AILiteracy[Use6]']].mean(axis=1)
df['AILiteracy[Kno]'] = df[['AILiteracy[Kno1]', 'AILiteracy[Kno2]', 'AILiteracy[Kno3]', 'AILiteracy[Kno4]', 'AILiteracy[Kno5]', 'AILiteracy[Kno6]']].mean(axis=1)
df['AILiteracy[Det]'] = df[['AILiteracy[Det1]', 'AILiteracy[Det2]', 'AILiteracy[Det3]']].mean(axis=1)
df['AILiteracy[Eth]'] = df[['AILiteracy[Eth1]', 'AILiteracy[Eth3]']].mean(axis=1)

In [26]:
# General Attitudes towards AI Constructs
df['PGAT'] = df[['PGAT[PGAT1]', 'PGAT[PGAT2]', 'PGAT[PGAT3]']].mean(axis=1)
df['NGAT'] = df[['NGAT[NGAT1]', 'NGAT[NGAT2]', 'NGAT[NGAT3]']].mean(axis=1)

In [27]:
# Common Method Bias Construct
df['CMV'] = df[['CMV[SQ001]', 'CMV[SQ002]', 'CMV[SQ003]']].mean(axis=1)

In [28]:
# Big Five Personality Traits (NEO) Constructs
df['NEO[E]'] = df[['NEO[E1R]', 'NEO[E2]', 'NEO[E3R]', 'NEO[E4]']].mean(axis=1)
df['NEO[A]'] = df[['NEO[V1R]', 'NEO[V2]', 'NEO[V3R]', 'NEO[V4R]']].mean(axis=1)
df['NEO[C]'] = df[['NEO[G1]', 'NEO[G2R]', 'NEO[G3]', 'NEO[G4]']].mean(axis=1)
df['NEO[N]'] = df[['NEO[N1]', 'NEO[N2R]', 'NEO[N3]', 'NEO[N4]']].mean(axis=1)
df['NEO[O]'] = df[['NEO[O1]', 'NEO[O2]', 'NEO[O3]', 'NEO[O4]', 'NEO[O5R]']].mean(axis=1)

In [29]:
# Job Crafting Constructs -> *Changes made because of errors in the column naming / item categorization
df['JC1[IStR]'] = df[['JC1[IStR1]', 'JC1[IStR2]', 'JC1[IStR3]', 'JC1[IStR4]', 'JC1[IStR5]']].mean(axis=1)
df['JC1[HRJD]'] = df[['JC1[HRJD1]', 'JC1[HRJD2]', 'JC1[HRJD3]', 'JC1[ICJD1]']].mean(axis=1) # *added JC1[ICJD1] because it was wrongly classified (it is part of HRJD)
df['JC2[IStR]'] = df[['JC2[2IStR1]', 'JC2[2IStR2]', 'JC2[2IStR3]', 'JC2[2IStR4]', 'JC2[2IStR5]']].mean(axis=1)
df['JC2[HRJD]'] = df[['JC2[2HRJD1]', 'JC2[2HRJD2]', 'JC2[2HRJD5]', 'JC2[2HRJD6]']].mean(axis=1)

In [30]:
# Drop the original columns to clean up the DataFrame and reduce complexity
columns_to_drop = [
    'AILiteracy[Use1]', 'AILiteracy[Use2]', 'AILiteracy[Use3]', 'AILiteracy[Use4]', 'AILiteracy[Use5]', 'AILiteracy[Use6]',
    'AILiteracy[Kno1]', 'AILiteracy[Kno2]', 'AILiteracy[Kno3]', 'AILiteracy[Kno4]', 'AILiteracy[Kno5]', 'AILiteracy[Kno6]',
    'AILiteracy[Det1]', 'AILiteracy[Det2]', 'AILiteracy[Det3]', 
    'AILiteracy[Eth1]', 'AILiteracy[Eth3]',
    'PGAT[PGAT1]', 'PGAT[PGAT2]', 'PGAT[PGAT3]',
    'NGAT[NGAT1]', 'NGAT[NGAT2]', 'NGAT[NGAT3]',
    'CMV[SQ001]', 'CMV[SQ002]', 'CMV[SQ003]',
    'NEO[E1R]', 'NEO[E2]', 'NEO[E3R]', 'NEO[E4]',
    'NEO[V1R]', 'NEO[V2]', 'NEO[V3R]', 'NEO[V4R]',
    'NEO[G1]', 'NEO[G2R]', 'NEO[G3]', 'NEO[G4]',
    'NEO[N1]', 'NEO[N2R]', 'NEO[N3]', 'NEO[N4]',
    'NEO[O1]', 'NEO[O2]', 'NEO[O3]', 'NEO[O4]', 'NEO[O5R]',
    'JC1[IStR1]', 'JC1[IStR2]', 'JC1[IStR3]', 'JC1[IStR4]', 'JC1[IStR5]',
    'JC1[HRJD1]', 'JC1[HRJD2]', 'JC1[HRJD3]', 'JC1[ICJD1]', # *added JC1[ICJD1] 
    'JC2[2IStR1]', 'JC2[2IStR2]', 'JC2[2IStR3]', 'JC2[2IStR4]', 'JC2[2IStR5]',
    'JC2[2HRJD1]', 'JC2[2HRJD2]', 'JC2[2HRJD5]', 'JC2[2HRJD6]'
]

df.drop(columns=columns_to_drop, inplace=True)

In [32]:
# Renaming columns
df.rename(columns={
    'SDT1[SDT1]': 'SDT1[AUT]',
    'SDT1[SDT2]': 'SDT1[COM]',
    'SDT2[2SDT1]': 'SDT2[AUT]',
    'SDT2[2SDT2]': 'SDT2[COM]',
    'PROD1[SQ001]': 'PROD1',
    'TASKDIF1[SQ001]': 'TASKDIF1',
    'PROD2[SQ001]': 'PROD2',
    'TASKDIF2[SQ001]': 'TASKDIF2'
}, inplace=True)

In [33]:
# Show all the columns in the dataset for a quick check
pd.set_option('display.max_columns', None)
print(df.columns.tolist())

['VPNCode', 'AGE', 'WORK', 'SE1', 'SDT1[AUT]', 'SDT1[COM]', 'PROD1', 'TASKDIF1', 'MANI1', 'SE2', 'SDT2[AUT]', 'SDT2[COM]', 'PROD2', 'TASKDIF2', 'MANI2', 'interviewtime', 'groupTime531', 'groupTime532', 'groupTime534', 'groupTime533', 'groupTime535', 'groupTime536', 'total_time', 'Gender_Männlich', 'Gender_Weiblich', 'Edu_Abitur_oder_Fachabitur', 'Edu_Bachelor', 'Edu_Master', 'AILiteracy[Use]', 'AILiteracy[Kno]', 'AILiteracy[Det]', 'AILiteracy[Eth]', 'PGAT', 'NGAT', 'CMV', 'NEO[E]', 'NEO[A]', 'NEO[C]', 'NEO[N]', 'NEO[O]', 'JC1[IStR]', 'JC1[HRJD]', 'JC2[IStR]', 'JC2[HRJD]']

In [34]:
# Specifying the desired order of columns
# If any are missing or named differently, adjust the list accordingly
new_column_order = [
    'VPNCode', 'AGE', 'WORK', 
    'Gender_Männlich', 'Gender_Weiblich', 'Edu_Abitur_oder_Fachabitur', 'Edu_Bachelor', 'Edu_Master',
    'AILiteracy[Use]', 'AILiteracy[Kno]', 'AILiteracy[Det]', 'AILiteracy[Eth]',
    'PGAT', 'NGAT', 'CMV', 'NEO[E]', 'NEO[A]', 'NEO[C]', 'NEO[N]', 'NEO[O]',
    'JC1[IStR]', 'JC1[HRJD]', 'SE1', 'SDT1[AUT]', 'SDT1[COM]', 'PROD1', 'TASKDIF1', 'MANI1',
    'JC2[IStR]', 'JC2[HRJD]', 'SE2', 'SDT2[AUT]', 'SDT2[COM]', 'PROD2', 'TASKDIF2', 'MANI2',
    'total_time', 'interviewtime', 'groupTime531', 'groupTime532', 'groupTime534', 'groupTime533', 'groupTime535', 'groupTime536'
]

df = df[new_column_order]

In [35]:
# Renaming time columns (taken from the German translation)
df.rename(columns={
    'interviewtime': 'syst_total_time',
    'groupTime531': 'time_demogr',
    'groupTime532': 'time_pers',
    'groupTime534': 'time_task1',
    'groupTime533': 'time_survey1',
    'groupTime535': 'time_task2',
    'groupTime536': 'time_survey2'
}, inplace=True)

In [36]:
# Display the dataset
df.head()

,VPNCode,AGE,WORK,Gender_Männlich,Gender_Weiblich,Edu_Abitur_oder_Fachabitur,Edu_Bachelor,Edu_Master,AILiteracy[Use],AILiteracy[Kno],AILiteracy[Det],AILiteracy[Eth],PGAT,NGAT,CMV,NEO[E],NEO[A],NEO[C],NEO[N],NEO[O],JC1[IStR],JC1[HRJD],SE1,SDT1[AUT],SDT1[COM],PROD1,TASKDIF1,MANI1,JC2[IStR],JC2[HRJD],SE2,SDT2[AUT],SDT2[COM],PROD2,TASKDIF2,MANI2,total_time,syst_total_time,time_demogr,time_pers,time_task1,time_survey1,time_task2,time_survey2
0,AHO1006,26,40.000000,1,0,0,1,0,4.666667,4.666667,4.000000,3.5,4.333333,2.000000,4.666667,3.00,4.00,3.75,1.75,3.4,2.4,2.25,100,2,2,2,2,Ich musste eine Kommunikationsstrategie erstel...,2.8,5.00,20,3,5,5,5,Ich musste ein Konzept zum Thema digitale Tran...,18.900000,8.209333,2.806333,0.800667,0.156833,2.161667,0.062500,2.221333
1,AWA2505,21,20.000000,0,1,1,0,0,3.833333,3.500000,3.000000,2.5,4.000000,3.000000,4.000000,2.50,2.50,3.50,2.75,4.0,3.4,2.00,100,3,3,2,2,Ich musste einen einwöchige Kommunikationsstra...,3.2,4.50,10,4,5,3,2,Ich musste einen eintägigen Veranstaltungsplan...,40.633333,40.671500,3.224333,1.340000,15.112833,3.292000,15.217000,2.485333
2,EZA0703,22,10.000000,1,0,1,0,0,4.166667,4.166667,3.333333,3.0,4.333333,3.000000,4.333333,3.25,3.00,3.50,3.00,3.8,4.2,4.50,35,3,4,4,4,Ziel war es einen One-Pager für eine Veranstal...,3.8,2.00,100,3,4,3,2,Ziel war es einen einwöchigen Workshop zum The...,32.333333,32.383000,3.060333,1.310500,11.240000,3.083000,11.162333,2.526833
3,AGU2207,23,38.529412,1,0,0,1,0,4.166667,3.500000,3.000000,2.5,5.000000,3.333333,4.666667,3.00,2.75,3.25,3.75,4.0,3.6,3.00,50,2,5,3,3,Ich sollte in der Aufgabe eine Strategie ausar...,3.0,2.25,100,2,2,3,3,Ich sollte einen Tag konzipieren bei dem Führu...,43.850000,43.909667,2.627500,1.146833,22.230167,3.959667,0.083500,13.862000
4,NPR1810,22,10.000000,0,1,0,1,0,3.500000,3.833333,3.333333,2.0,3.000000,3.333333,1.666667,3.25,3.75,4.00,2.75,4.0,2.8,3.00,75,4,4,3,3,In der vorangegangenen Aufgabe musste ich eine...,3.6,1.50,100,4,4,4,4,In der vorigen Aufgabe sollte ein Tagesprogram...,42.750000,42.793167,3.090500,1.198500,19.828500,4.353000,11.819833,2.502833

In [37]:
# Save DF in a new CSV-File 
df.to_csv('data_prep_constructs.csv', index=False, encoding='utf-8-sig', sep=',')